@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

.nav-link {
    font-size: 18px;
    margin-left: 35px;
    transition: .3s;
}

.nav-link:hover,
.nav-link.active {
    color: #00abf0 !important;
}

/* .custom-navbar {
    background-color: #081b29 !important;
} */

section {
    padding: 60px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

/* .navbar {
    z-index: 10;
} */

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

#home {
    height: 100vh;
    background: linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), url('/images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position:right;
    /* display:flex; */
    align-items: center;
    padding: 0 10%;
    /* z-index: 20; */
    position: relative;
    /* color: #ededed; */
}

/* .home {
    height: 100vh;
    background: 
        linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), 
        url('../images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
} */

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

#about h2,
#portfolio h2,
#contact h2 {
    color: #00abf0;
}

.card {
    background-color: #081b29;
    color: #ededed;
}

.btn-primary {
    background-color: #00abf0;
    border-color: #00abf0;
}

.btn-outline-primary {
    border-color: #00abf0;
    color: #00abf0;
}

.btn-outline-primary:hover {
    background-color: #00abf0;
    color: #081b29;
}

/* .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
} */

/* .btn-box a:hover {
    color: #00abf0;
} */

/* .btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
} */

/* .btn-box a:nth-child(2):hover {
    color: #081b29;
} */

/* .btn-box a:nth-child(2)::before {
    background: #00abf0;
} */

/* .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
} */

/* .btn-box a:hover::before {
    width: 100%;
} */

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 170%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* .home-imgHover:hover {
    background: #081b29;
    opacity: .8;


} */

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

#about {
    height:100vh;
    background: 
    linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), 
    url('../images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/* .about {
    height: 100vh;
    background: 
    linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), 
    url('../images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
} */

/* .about-content {
    max-width: 600px;
} */

/* .about-content h1 {
    position: relative;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
} */

.about-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 3s ease forwards;
    animation-delay: 1s;
}

.about-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.about-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.about-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.about-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 170%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.portfolio {
    height: 100vh;
    background: 
    linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), 
    url('../images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position:right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.portfolio-content {
    max-width: 600px;
}

.portfolio-content h1 {
    position: relative;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}

.portfolio-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.portfolio-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 170%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}

.projects-column {
    width: 48%;
}

.project {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #081b29;
    /* background-color: #102533; */
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 10px;
}

.project a {
    font-size: 16px;
    color: #00abf0;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* .portfolio-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
} */

.portfolio-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.portfolio-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: 1.3s;
}

.portfolio-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.portfolio-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.portfolio-content a {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.portfolio-content a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.contact {
    height: 100vh;
    background: 
    linear-gradient(rgba(8, 27, 41, 0.7), rgba(8, 27, 41, 0.7)), 
    url('../images/profile.jpeg') no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.contact-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.contact-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 170%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.contact-content {
    max-width: 600px;
}

.contact-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    font-size: 18px;
    padding: 10px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #008bb5;
}

.contact-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 3s ease forwards;
    animation-delay: 1.6s;
}

/* Media Queries */
/* @media (max-width: 991px) {
    .home-content h1 {
        font-size: 48px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .btn-box {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .btn-box a {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-sci {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 5%;
    }

    .navbar a {
        margin: 5px 0;
    }

    .home {
        flex-direction: column;
        padding: 20px 5%;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .home-sci {
        position: static;
        margin-top: 20px;
        justify-content: center;
    }

    .about-content h1 {
        font-size: 50px;
    }

    .projects-container {
        flex-direction: column;
    }

    .projects-column {
        width: 100%;
    }

    .contact-content h1 {
        font-size: 48px;
    }
}

@media (max-width: 576px) {
    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .about-content h1 {
        font-size: 36px;
    }

    .contact-content h1 {
        font-size: 36px;
    }
} */